@model IEnumerable<AspCoreSD.Models.Lecturacontador>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado de lecturas realizadas</h2>
<hr />

<table class="table table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lectura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="fa-sharp fa-solid fa-toggle-large-off"><i class="fa-sharp fa-solid fa-square-plus"></i>Lectura</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lectura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Esta seguro de eliminar el registro?')"><i class="fa-sharp fa-solid fa-square-xmark"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
